{% extends "baemin/base.html" %} 
{% load django_bootstrap5 %}
{% comment %} 장고의 상속 {% endcomment %}

{% comment %} 자식 템플릿은 block을 재정의하지 않은 코드는 무시된다. {% endcomment %}
{% block content  %}
    <div class="shop-detail">
      <img src="{{ shop.photo.url }}" alt="{{ shop.name }} width="200px" height="200px"">
      <h2>{{ shop.name }}</h2>
      <p class="description">{{ shop.description }}</p>
    </div>
    <a href="/baemin/{{ shop.pk }}/reviews/new/">댓글 쓰기</a>

    <h3>댓글 목록</h3>

    {% for review in review_list %}
      <div class="review-wrap">
        {{ review.content }}
        ({{ review.rating }})
        <a href="/baemin/{{ shop.pk }}/reviews/{{ review.pk }}/edit/">
          수정📌
        </a>
        <a hx-post="/baemin/{{ shop.pk }}/reviews/{{ review.pk }}/delete/" hx-confirm="삭제하시겠습니까?"
        hx-target="closest .review-wrap" {# 대상 지정 #}
        hx-swap="delete" {# 반영 방법 : delete(서버 응답에 상관없이 대상을 무조건 삭제 #}
        class="btn-review-delete text-danger"
        style="cursor: pointer;" {# href 속성이 없기 때문에 "삭제"에 커서 올렸을 때 손가락 모양이 아니니 style을 넣어준다. #}>
          삭제📥
        </a>
      </div>
      {% empty %}
      <div>등록된 리뷰가 없습니다. 😥
      </div>
      {% endfor %}
{% endblock  %}