{% extends "baemin/base.html" %} 
{% load django_bootstrap5 %}
{% comment %} 장고의 상속 {% endcomment %}

{% comment %} 자식 템플릿은 block을 재정의하지 않은 코드는 무시된다. {% endcomment %}
{% block content  %}
    <div class="shop-detail">
      <img src="{{ shop.photo.url }}" alt="{{ shop.name }} width="200px" height="200px"">
      <h2>{{ shop.name }}</h2>
      <p class="description">{{ shop.description }}</p>
    </div>
    <a href="/baemin/{{ shop.pk }}/reviews/new/">댓글 쓰기</a>

    <h3>댓글 목록</h3>

    {% for review in review_list %}
      <div>
        {{ review.content }}
        ({{ review.rating }})
      </div>
      {% empty %}
      <div>등록된 리뷰가 없습니다. 😥
      </div>
    {% endfor %}
{% endblock  %}